{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
     <table class="table table-striped">
         <tr>
             <th>Symbol</th>
             <th>Shares</th>
             <th>Price</th>
             <th>Transacted</th>
         </tr>

         {% for transaction in transactions %}
         <tr>
             <th>{{ transaction.symbol }}</th>
             <th>{{ transaction.shares }}</th>
             <th>{{ transaction.price }}</th>
             <th>{{ transaction.time }}</th>
         </tr>
         {% endfor %}

         <!--Footer-->
         <tr>
             <td colspan="4"></td>
             <!--<td> SUM </td>-->
         </tr>
     </table>
{% endblock %}
